@keyframes slickAnimate{
    0% {width: 25px; 
        opacity: 0;
    }
    100% {
        width: 475px;
        opacity: 1;
    }
}

#logo {
    width: 25px;
    animation: slickAnimate 5s forwards;
}



body {
    font-family: "Poppins";
    background-color: #f1f1f1;
    background-image: url("images.concrete_seamless.png");
    background-repeat: no-repeat;   
    
}

body > header {
    display: flex;
    position: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.nav_links {
    display: flex;
    flex-direction: column;
}


.nav_links a:visited, a:focus, a:active{
    color: #0000EE;
}


.card > header {
    background: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    position: center;
}

.card {
    width: 450px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.gallery  {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;  
    justify-content: center;

}

.gallery > img {
    border: 10px solid #50C7C7;
    margin: 10px;
    height: 230px;
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.pricing {
    display: flex;
    flex-direction: column;
    align-items: center;

}


.card {
    align-items: center;
    flex-wrap: wrap;
}


@media screen and (min-width: 900px) {
    body > header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        position: fixed;
        width: 100%;
        z-index: 1000;
    }

    main {
        padding-top: 91.42px;
    }
    .nav_links {
        flex-direction: row;
        justify-content: flex-end;

    }

    .pricing {
        align-items: flex-start;
        justify-content: center;
    }
    .class {
        position: relative; 
        justify-content:flex-start;
    }


    .pricing {
        display: flex;
        position: relative;
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }
    

    .card {
        width: 275px;

    }

}

@media (prefers-reduced-motion) {
    #logo {
        animation: none;
        width: 475px;
    }

    
}

@media print and (orientation: portrait) {
    body {
        font-family: Arial, Helvetica;
        align-items: center;

    }
    .nav_links {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    }

    .pricing {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 325px;
    }
    .card {
        border: solid 2px #45AADD;
        flex-direction: row;
    }

    #gallery, .gallery {
        display: none;
    }


}